{
    "bracketSameLine": true,
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "experimentalTernaries": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/style.css"
}
